rsource "emueeprom/Kconfig"
rsource "filters/Kconfig"
rsource "lessdb/Kconfig"
rsource "midi/Kconfig"
rsource "misc/Kconfig"
rsource "motor_control/Kconfig"
rsource "settings/Kconfig"
rsource "signaling/Kconfig"
rsource "state_machine/Kconfig"
rsource "sysex_conf/Kconfig"
rsource "threads/Kconfig"
